<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimasdanz.keamananpintu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.dimasdanz.keamananpintu.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dimasdanz.keamananpintu.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dimasdanz.keamananpintu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dimasdanz.keamananpintu.DeviceStatusActivity"
            android:label="@string/title_activity_device_status"
            android:parentActivityName="com.dimasdanz.keamananpintu.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimasdanz.keamananpintu.MainActivity" />
        </activity>
        <activity
            android:name="com.dimasdanz.keamananpintu.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="com.dimasdanz.keamananpintu.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimasdanz.keamananpintu.MainActivity" />
        </activity>
        <activity
            android:name="com.dimasdanz.keamananpintu.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName="com.dimasdanz.keamananpintu.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimasdanz.keamananpintu.MainActivity" />
        </activity>
        <activity
            android:name="com.dimasdanz.keamananpintu.SettingsActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName="com.dimasdanz.keamananpintu.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimasdanz.keamananpintu.MainActivity" />
        </activity>
        <activity android:name="com.dimasdanz.keamananpintu.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>        

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name=".GcmIntentService" />
            </intent-filter>
        </receiver>

    </application>
</manifest>